[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
algorithmia = "*"
python-decouple = "*"
pysbd = "*"
ibm-watson = ">=4.7.1"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.8"
